.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* App.css */
.custom-tooltip-container {
  /* position: relative; */
  /* display: flex; */
  /* justify-content: center; */
  margin-left: 2px;
}

.custom-tooltip {
  position: absolute;
  left: 0%;
  /* 將 .custom-tooltip 元素的左邊緣置於父元素中間 */
  bottom: 80%;
  /* transform: translateX(-39%); */
  /* 往左移動元素自身寬度的一半 */
  padding: 5px 10px;
  /* margin-left: 10px; */
  background-color: white;
  border: 1px solid #0284c7;
  color: black;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  max-width: 267px;
  width: max-content;
  font-size: x-small;
}


.custom-tooltip-container:hover .custom-tooltip {
  opacity: 1;
}